/* Import Font */
/* @import url(../font/Glory-VariableFont_wght.ttf); */

:root {
	--primary-color: #112031;
	--contras-color: #ebebeb;
	--secondary-color: #152d35;
	--shadow-prim-color: #17283a;
	--shadow-con-color: #bababa;
}

body {
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
	font-family: Arial, "Glory", sans-serif;
	color: var(--contras-color);
	overflow: hidden;
	background-color: var(--primary-color);
}

/* Preloader */

.pace {
	pointer-events: none;
	user-select: none;
	z-index: 2000;
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 400px;
	border: 0px;
	height: 3px;
	overflow: hidden;
	background: var(--primary-color);
}

.pace .pace-progress {
	box-sizing: border-box;
	transform: translate3d(0, 0, 0);
	max-width: 400px;
	position: fixed;
	z-index: 5001;
	display: block;
	position: absolute;
	top: 0;
	right: 100%;
	height: 100%;
	width: 100%;
	background: var(--contras-color);
}

.pace.pace-inactive {
	display: none;
}

#preloader {
	width: 100%;
	height: 100vh;
	background: var(--primary-color);
	overflow: hidden;
	position: fixed;
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	z-index: 100;
}

/* Map Page */

#map-page {
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0px;
}

/* Map Css */

#map {
	width: 100%;
	height: 100vh;
	position: fixed;
}

/* Content Css */

#content {
	position: absolute;
	top: 30px;
	background-color: var(--primary-color);
	display: flex;
	flex-direction: column;
	height: 540px;
	width: 400px;
	border-radius: 5px;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
	align-items: center;
}

#content.show {
	left: 50px;
	z-index: 1000;
}

#content.hide {
	cursor: pointer;
	left: -365px;
}

#content .menu-page {
	position: absolute;
	width: 100%;
	z-index: 999;
	height: 0px;
	visibility: hidden;
	opacity: 0;
	top: 0px;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: all 0.6s ease-in-out;
}

#content .menu-page.show {
	height: 100%;
	opacity: 1;
	visibility: visible;
}

#content .menu-page .stats,
#content .menu-page .news {
	width: 250px;
	margin: 5px;
	font-size: 16pt;
	text-align: center;
}

#content .menu-page a {
	text-align: left;
	color: var(--contras-color);
	text-decoration: none;
	transition: color 0.3s ease;
}

#content .menu-page a:hover {
	color: var(--shadow-con-color);
}

/* Icon Animate */

#content .expand-btn {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: end;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 0;
	transform: translateX(-20px);
	transition: all 0.6s ease-out 0.5s;
}

#content .expand-btn button {
	background-color: unset;
	border: none;
	color: var(--contras-color);
	cursor: pointer;
	margin: 0px 5px;
}

#content.hide .expand-btn {
	transform: translateX(0px);
	pointer-events: all;
	opacity: 1;
}

#box-control {
	width: 400px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#box-control .hide-btn,
#box-control .menu-btn {
	margin: 10px 15px;
	color: var(--contras-color);
	background-color: var(--primary-color);
	border: none;
	cursor: pointer;
	z-index: 100;
	transition: all 0.4s ease-in-out;
}

#content.hide #box-control .menu-btn {
	opacity: 0;
}

#content .filter-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px !important;
	margin: 0px 10px;
}

.filter-box .search-box {
	transition: all 0.5s ease-in-out;
}

#content.show .filter-box .search-box,
#content.show .filter-box .select-box {
	opacity: 1;
}

#content.hide .filter-box .search-box,
#content.hide .filter-box .select-box {
	transform: translateY(40px);
	opacity: 0;
}

#content .filter-box .search-box input {
	width: 235px;
	height: 40px;
	padding: 5px 10px;
	box-sizing: border-box;
	background-color: var(--primary-color);
	border: var(--contras-color) solid 1px;
	border-radius: 5px;
	color: var(--contras-color);
	margin-right: 20px;
}

#content .filter-box .search-box input:focus {
	outline: none;
}

#content .filter-box .select-box {
	transition: all 0.4s ease-in-out 0.1s;
}

#content .filter-box .select-box #select-form {
	width: 120px;
	height: 40px;
	padding: 5px 5px;
	box-sizing: border-box;
	background-color: var(--primary-color);
	border: var(--contras-color) solid 1px;
	border-radius: 5px;
	color: var(--contras-color);
	cursor: pointer;
}

#content .menu-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#content .option {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	width: 390px;
	transition: all 0.4s ease-in-out;
	margin: 10px 5px;
}

#content.show .option {
	opacity: 1;
}

#content.hide .option,
#content.hide .detail-page {
	transform: translateY(40px);
	opacity: 0;
	pointer-events: none;
}

#content .option .place-content {
	position: relative;
	margin: 10px 5px;
	width: 185px;
	background-color: var(--shadow-prim-color);
	border-radius: 3px;
	cursor: pointer;
	display: flex;
	align-items: center;
	height: 59px;
	transition: all 0.5s ease-in-out;
}

#content .option .place-content:hover {
	background-color: #1d3248;
}

#content .option {
	background-color: var(--primary-color) !important;
}

#content .menu-content.animate .option .place-content {
	transform: translateY(40px);
	opacity: 0;
	z-index: 10;
}

#content .menu-content.animate .detail-page .detail-head,
#content .menu-content.animate .detail-page .list-case {
	transform: translateY(40px);
	opacity: 0;
}

.detail-head {
	display: flex;
	align-items: center;
	justify-content: start;
	margin: 0px 20px;
	margin-top: 5px;
	border-radius: 4px;
	transition: all 0.5s ease-in-out;
}

.place-content .title {
	width: 155px;
}

.place-content .title h4,
.detail-head .title h3 {
	color: var(--contras-color);
}

.place-content .title h4 {
	font-size: 10pt;
	text-align: center;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.detail-page {
	transition: all 0.4s ease-in-out 0.2s;
}

.body-content {
	height: 400px;
}

.detail-head .title {
	margin: 10px 10px;
}

.detail-head .title h3 {
	width: 230px;
	text-align: left;
	position: relative;
	text-overflow: ellipsis;
	margin: 5px 0;
}

.detail-head .title small {
	color: var(--shadow-con-color);
}

.place-content .status {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 0 10px;
	transition: all 0.2s ease-out;
}

.detail-head .badge {
	width: 120px;
	height: 20px;
	text-align: center;
	border-radius: 10px;
	color: var(--contras-color);
	font-weight: bold;
}

.list-case {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.case,
.num-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	transition: all 0.6s ease-in-out;
}

.case {
	margin: 0px 20px;
}

.case .border,
.num-info .border {
	width: 150px;
	height: 50px;
	border-radius: 5px;
	margin: 10px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.num-info .border {
	flex-direction: row;
	width: 230px;
	height: 60px;
	align-items: center;
	justify-content: space-between;
}

.case .border.confirm,
.num-info .border.confirm {
	background-color: #fc7303;
}

.case .border.recover,
.num-info .border.recover {
	background-color: #09ad95;
}

.case .border.die,
.num-info .border.die {
	background-color: #f82649;
}

.case .case-title,
.num-info .case-title {
	color: var(--contras-color);
	height: 20px;
}

.case .case-title {
	margin-top: 7px;
}

.num-info .case-title {
	padding-left: 10px;
}

.case .case-title h4,
.num-info .case-title h4 {
	margin: 0px;
}

.case .num-case,
.num-info .num-case {
	color: var(--contras-color);
}

.case .num-case {
	margin-bottom: 10px;
}

.num-info .num-case {
	padding-right: 10px;
}

.list-case #bar-chart {
	width: 320px !important;
	height: 155px !important;
	margin-top: 20px;
}

.foot {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.foot button {
	background-color: var(--primary-color);
	border: none;
	color: var(--shadow-con-color);
	cursor: pointer;
	margin: 5px 20px;
}

/* Info Page */

#info-page {
	background-color: var(--primary-color);
	height: 100vh;
	width: 100%;
	z-index: 2000;
	transform: translateY(100vh);
	position: relative;
	transition: all 0.6s ease-in-out;
}

.info-content {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 60vh;
}

.up-btn,
.up-btn-news {
	width: 100%;
	text-align: center;
}

.up-btn button,
.up-btn-news button {
	border: none;
	background-color: unset;
	cursor: pointer;
	color: var(--contras-color);
	padding: 10px 0px;
}

#info-page .filter-box {
	width: 100%;
	display: flex;
	margin-top: 50px;
	justify-content: center;
	align-items: center;
}

#info-page .filter-box .box {
	width: 80px;
	height: 20px;
	text-align: center;
	margin: 0px 10px;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
}

#info-page .filter-box .box.daily {
	background-color: rgb(172, 0, 0);
}

#info-page .filter-box .box.monthly {
	background-color: rgb(0, 0, 169);
}

#info-page .filter-box .box.yearly {
	background-color: rgb(39, 128, 39);
}

#info-page .filter-box .box.active {
	transform: scale(1.2);
}

#info-page .filter-box .box.monthly.active {
	background-color: rgb(1, 1, 211);
}

#info-page .filter-box .box.yearly.active {
	background-color: rgb(0, 160, 0);
}

#info-page .filter-box .box.daily.active {
	background-color: rgb(223, 17, 17);
}

#info-page .filter-box .box button {
	border: none;
	background-color: unset;
	color: var(--contras-color);
	font-weight: bold;
	cursor: pointer;
}

.chart-content {
	width: 700px;
	height: 300px;
}

.chart-content #chart {
	width: 100%;
	height: 300px;
}

.detail-content {
	width: 30%;
	height: 300px;
	margin: 0px 50px;
}

.detail-content .head-title {
	margin-left: 5px;
}

/* News Page */
#news-page {
	background-color: var(--primary-color);
	height: auto;
	width: 100%;
	z-index: 2000;
	transform: translateY(100vh);
	position: relative;
	padding-bottom: 50px;
	transition: all 0.6s ease-in-out;
}

#news-page #page-container {
	padding: 0px 15%;
	height: 100%;
}

#news-page .top-head {
	display: flex;
	align-items: end;
}

#news-page .head-title {
	width: 200px;
	padding-top: 50px;
	position: relative;
	margin-bottom: 50px;
}

#news-page .head-title::before {
	content: "";
	position: absolute;
	width: 205px;
	height: 3px;
	bottom: -10px;
	background-color: var(--shadow-con-color);
}

#news-page .head-title h1 {
	margin: 0px;
	color: var(--contras-color);
}

#news-page .head-title h1 span {
	color: #f82649;
}

#news-page .news-content {
	padding-top: 20px;
}

.latest-news {
	width: 800px;
}

.latest-news .news-image {
	width: 400px;
	height: 250px;
	overflow: hidden;
}

.latest-news .news-image img {
	width: 100%;
	position: relative;
	top: -123px;
}

.latest-news .news {
	display: flex;
	margin: 0px 15px;
}
.latest-news .news-head .date-time {
	opacity: 0.6;
}

.latest-news .news-desc {
	margin: 0px 20px;
}

.latest-news .news-desc h3 {
	margin: 0px;
	text-align: left;
	font-size: 25pt;
	font-weight: 400;
}

.latest-news .news-desc h3 a {
	color: var(--contras-color);
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.latest-news .news-desc h3 a:hover {
	color: var(--shadow-con-color);
}

.latest-news .news-desc p {
	font-size: 12pt;
	opacity: 0.8;
	/* width: 300px; */
}

.bottom-latest {
	margin-top: 100px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.bottom-latest .news {
	width: 280px;
	margin: 5px 15px;
}

.bottom-latest .news .news-image {
	width: 300px;
	height: 150px;
	overflow: hidden;
}

.bottom-latest .news .news-image img {
	width: 100%;
	transition: transform 0.5s ease-in-out;
}

.bottom-latest .news .news-image:hover img {
	transform: scale(1.2);
}

.bottom-latest .news .news-desc h3 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 10px;
	font-size: 12pt;
}

.bottom-latest .news .news-desc h3 a:hover {
	color: var(--shadow-con-color);
}

.bottom-latest .news .news-desc h3 a {
	color: var(--contras-color);
	text-decoration: none;
}

/* Page Animate */
.container.animate #map-page #content,
.container.info-mode #map-page #content,
.container.news-mode #map-page #content {
	transform: translateX(-40px);
	opacity: 0;
}

.container.animate #info-page,
.container.animate #news-page {
	transform: translateY(100vh);
}

.container.info-mode #info-page,
.container.news-mode #news-page {
	transform: translateY(0vh);
}

/* Responsive Css */

@media (max-width: 510px) {
	#info-page {
		height: 100vh;
	}

	#content {
		left: 0px !important;
		bottom: -5px !important;
		top: unset;
		width: 100%;
	}

	#content .expand-btn {
		display: none;
	}

	#content.hide {
		bottom: -450px !important;
	}

	#content.hide #box-control .hide-btn,
	#content.hide #box-control .menu-btn {
		display: none;
	}

	#box-control .hide-btn {
		transform: rotate(-90deg);
	}

	#content .filter-box {
		max-width: 390px;
	}

	.detail-head {
		justify-content: center;
	}

	.detail-head .title {
		margin-right: 20px;
		margin-left: 0px !important;
	}

	.case .border {
		max-width: 120px;
		max-height: 45px;
	}

	.case .case-title h4 {
		font-size: 10pt;
	}

	.case .num-case {
		font-size: 9pt;
	}

	.container.animate #map-page #content,
	.container.info-mode #map-page #content {
		transform: translateY(400px);
		opacity: 0;
	}

	.info-content {
		flex-wrap: wrap;
		margin-top: 40px;
	}

	.chart-content {
		height: 265px;
	}

	.chart-content #chart {
		width: 365px;
		max-height: 260px !important;
	}

	.detail-content {
		width: 100%;
	}

	.num-info {
		justify-content: center;
	}

	.detail-content .head-title {
		text-align: center;
	}

	#content .filter-box {
		margin-top: unset !important;
	}

	#content.hide .filter-box {
		margin-top: 40px !important;
	}

	#content.hide .filter-box .search-box,
	#content.hide .filter-box .select-box {
		transform: translateY(0px);
		opacity: 1;
	}

	#news-page .news-content {
		position: relative;
	}

	.latest-news {
		width: 100%;
	}

	.latest-news .news {
		flex-direction: column;
	}

	.latest-news .news-image {
		max-width: 325px;
	}

	.latest-news .news-head .date-time small {
		font-size: 7pt;
	}

	.latest-news .news-desc {
		margin: 10px 0px;
	}

	.latest-news .news-desc h3 {
		font-size: 18pt;
	}

	.latest-news .news-desc p {
		font-size: 10pt;
	}

	.bottom-latest {
		margin-top: 70px;
		justify-content: center;
	}

	.bottom-latest .news {
		margin-bottom: 15px;
		position: relative;
	}

	.bottom-latest .news .news-image {
		width: 100%;
	}
}

@media (max-width: 400px) {
	#box-control {
		width: 385px;
	}

	#content .filter-box .search-box input {
		width: 215px;
	}

	#content .option .place-content {
		width: 175px;
		height: 50px;
	}

	#content .option {
		justify-content: center;
	}

	.detail-head .title {
		margin-right: -10px;
	}

	.detail-head .title h3 {
		width: 215px;
		font-size: 12pt;
	}
}
